.AuthForm{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background-color: #161819;
    /* padding: 2.5%; */
    /* padding-top: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-right: 25%; */
    /* padding-left: 25%; */
}

.title{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.signUp{
    padding-top: 0;
}

.logoimg{
    width: 30%;
    height: auto;
}

.signup{
    width: 20%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.container{
    height: 80%;
    width: 75%;
    display: flex;
    flex-direction: row;
    background-color:  #212327;
    align-items: center;
    justify-content: center;
}

.signUpForm{
    height: fit-content;
}

form{
    height:fit-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 5%;
}

input{
    width: 100% !important;
    /* border-radius: 1.5em !important; */
    border: 1px solid #00b074 !important;
    padding-left: 5% !important;
    -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box !important;    /* Firefox, other Gecko */
    box-sizing: border-box !important; 
    margin: 0 !important;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

label{
    left: 5% !important;
    font-family: 'Ubuntu', sans-serif;
}

.btn{
    width: 100% !important;
    /* border-radius: 1.5em !important; */
    background-color: #00b074;
    font-family: 'Ubuntu', sans-serif;
}

.pushdown{
    margin-top: auto;
}

.datePicker{
    padding-right: 5% !important;
}

.titleDiv{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #00b074;
    font-family: 'Fredoka One', cursive;
    font-size: 3em;
}

.titleSmall{
    font-size: 0.4em;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.separator{
    width: 1px;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.685);
}