@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.sidebar{
    width: 17.5%;
    height: 100%;
    background-color: #1f2125;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 1em 1em 0;
    /* padding-top: 2.5%;
    padding-bottom: 2.5%; */
    /* justify-content: space-evenly; */
}

.routeArea{
    width: 82.5%;
    height: 100%;
}

.profile-icon{
    width: 35px;
    height: 35px;
    background-color: #00b074;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.profile-name{
    font-size: 1em;
}
.profile-title{
    font-size: 0.8em;
    color: #717276 !important;
}

.nav-topic{
    color: #717276 !important;
    align-self: flex-start;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9em;
    margin-left: 15%;
}

.nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    width: 85%;
    margin-bottom: 5%;
    margin-top: 5%;
    /* background-color: teal; */
    padding: 5%;
    border-radius: 0.3em;
    transition: 0.5s;
}

.nav-link-topic{
    margin-left: 10%;
}

.nav-link:hover{
    background-color: #00b074;
    transform: translateY(-2px);
}

.nav-link:hover > .nav-icon{
    color: #fff !important;
}

.nav-link--active {
    /* border-bottom: 3px solid #00b074; */
    background-color: #00b074;
    color: #fff;
    /* transition: border-bottom .5s ease-in-out; */
  }
.nav-link--active div{
    /* border-bottom: 3px solid #00b074; */
    color: #fff !important;
    /* transition: border-bottom .5s ease-in-out; */
  }

.profile{
    margin-bottom: 10%;
    margin-top: 0;
    border-radius: 0;
    background-color: #212327;
    width: 100%;
    height: 12.5%;
    border-radius: 0 1em 1em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.profile-data{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profile:hover{
    background-color: #212327;
    transform: translateY(0px);
}

.nav-link{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.nav-icon{
    color: #717276 !important;
    font-size: 1.5em !important;
}

.more-info-sec{
    width: 17.5%;
    height: 12.5%;
    position: absolute;
    z-index: 99;
    background-color: #212327;
    margin-top: auto;
    bottom: 0;
    border-radius: 1em 1em 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00b074;
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #212327;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #00b074;
    font-family: 'Fredoka One', cursive;
    font-size: 3em;
}