.chat-area{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.send-area{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    padding: 0;
}

textarea{
    outline: none;
    border: none;
    padding: 1.25%;
    background-color: #212327;
    color: white;
    width: 85%;
    height: 75%;
    resize: none;
    border-radius: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.sendBtn{
    width: 4.5%;
    height: 75%;
    border-radius: 50px;
    background-color: #212327;
    border: none;
    color: #00b074;
    font-size: 1.5em;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendBtn:hover{
    transform: rotate(-45deg);
    background-color: #00b074;
    color: #212327;
}

.sendBtn:active{
    background-color: #212327;
}

.chat{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-top: 5%;
}

.msgbox{
    width: fit-content;
    /* min-height: 5%; */
    max-width: 75%;
    color: #fff;
    background-color:#212327;  
    padding: 1%;
    margin: 2%;
    margin-top:0;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.chatIn{
    border-radius: 0.5em 0.5em 0.5em 0;
    align-self: flex-start;
}

.chatOut{
    border-radius: 0.5em 0.5em 0em 0.5em;
    align-self: flex-end;
    /* justify-content: flex-end; */
}

.chatSender{
    font-weight: 500;
    font-size: 0.75em;
}

.message{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: left;
}

.timeStamp{
    font-weight: 300;
    font-size: 0.75em;
}

.timeStampOut{
    font-weight: 300;
    font-size: 0.75em;
    align-self: flex-end;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}